@layer components {
	.btn {
		@apply text-center no-underline
		bg-white dark:bg-gray-900
		rounded-xl
		border outline-none
		cursor-pointer
		disabled:cursor-not-allowed disabled:shadow-none
		hover:outline-2 hover:outline-offset-2 hover:outline-dotted
		transition-all duration-150;
	}

	.btn-form {
		@apply rounded-l-none;
	}

	.btn-active {
		@apply bg-sky-400 dark:bg-sky-600
		outline-sky-400 dark:outline-sky-600
		hover:outline-sky-600
		text-white;
	}

	.btn-admin {
		@apply bg-slate-600 dark:bg-slate-800
		outline-slate-600 dark:outline-slate-800
		text-white;
	}

	.btn-default {
		@apply bg-slate-100 dark:bg-slate-800
		outline-slate-400 dark:outline-slate-600
		text-slate-800;
	}

	.btn-primary {
		@apply bg-blue-400 dark:bg-blue-600
		outline-blue-400 dark:outline-blue-600
		text-white;
	}

	.btn-edit {
		@apply bg-purple-600 dark:bg-purple-800
		outline-purple-600 dark:outline-purple-800
		text-white;
	}

	.btn-cancel {
		@apply bg-amber-400 dark:bg-amber-600
		outline-amber-400 dark:outline-amber-600
		text-white;
	}

	.btn-danger {
		@apply bg-red-400 dark:bg-red-600
		outline-red-400 dark:outline-red-600
		text-white;
	}

	.btn-success {
		@apply bg-green-500 dark:bg-green-600
		outline-green-500 dark:outline-green-600
		text-white;
	}

	.btn-outline-active {
		@apply outline-sky-500 text-sky-500;
	}

	.btn-outline-admin {
		@apply outline-slate-500 text-slate-500;
	}

	.btn-outline-primary {
		@apply outline-blue-500 text-blue-500;
	}

	.btn-outline-edit {
		@apply outline-purple-500 text-purple-500;
	}

	.btn-outline-cancel {
		@apply outline-orange-500 text-orange-500;
	}

	.btn-outline-danger {
		@apply outline-red-500 text-red-500;
	}

	.btn-outline-success {
		@apply outline-green-500 text-green-500;
	}
}
