@layer base {
    /* - Input design par défaut */
    .input {
        @apply rounded-sm border-b outline-none focus:outline-none focus:border-b focus:border-blue-400 px-2 py-1;
    }

    textarea.input {
        @apply focus:border focus:border-blue-400;
    }

    label > input.input {
        @apply rounded-none border-b outline-none focus:outline-none transition-all;
    }

    label > input.input-blue {
        @apply border-blue-300 focus:border-blue-600;
    }

    label > input.input-red {
        @apply border-red-300 focus:border-red-600;
    }

    /* From control avec label qui se déplace */
    input:focus-within ~ label,
    input:not(:placeholder-shown) ~ label {
        @apply transform scale-75 -translate-y-6;
    }
    input:focus-within ~ label {
        @apply text-blue-600;
    }

    /* Input wrapper */
    .form-input{
        @apply relative inline-block;
    }
    /* Input design */
    .form-input>input {
        @apply w-full block
        appearance-none
        bg-transparent border-b-2
        focus:outline-none focus-within:border-blue-500;
    }
    .form-input>input.success {
        @apply bg-green-50 focus-within:border-green-500;
    }
    /* Input's label design */
    .form-input>label {
        @apply absolute top-0 pointer-events-none origin-0 duration-300;
    }

    /* Textarea wrapper */
    .form-textarea{
        @apply relative my-4;
    }
    /* Textarea design */
    .form-textarea>textarea {
        @apply w-full block
        appearance-none bg-transparent px-2 py-1
        border rounded-md
        focus:outline-none focus-within:border-blue-500;
    }
    /* Textarea's label */
    .form-textarea>label{
        @apply absolute;
        top: -2rem !important;
    }
    /* Underlying paragraph (error messages for example ) */
    .form-input>p,.form-textarea>p{
        @apply px-1 text-xs
    }

    .form-input>select {
        @apply w-full block
        appearance-none
        bg-transparent border-0 border-b-2 border-gray-200
        focus:outline-none focus-within:border-blue-500;
    }
}