/*Bootstrap icons font*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css");

/* Custom imports */
@import 'scolcours/inputs.css';
@import "scolcours/typo.css";
@import "scolcours/effects.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body{
		@apply font-light tracking-wide bg-gray-100;
	}

	.font-code{
		font-family: 'ui-monospace', 'Source Code Pro', monospace;
	}

	.scolcours-container {
		@apply max-w-7xl mx-auto px-1 md:px-5
	}
}

@layer components {
	/* Just adding the color for JIT */
	.bg-scolcours-main {background-color: chocolate}

	.bg-scolcours-algebre {@apply bg-blue-500}
	.bg-scolcours-analyse {@apply bg-amber-500}
	.bg-scolcours-geometrie {@apply bg-purple-500}
	.bg-scolcours-statistiques {@apply bg-cyan-500}
	.bg-scolcours-jeux {@apply bg-orange-500}
	.bg-scolcours-tools {@apply bg-pink-400}

	.text-scolcours-algebre {@apply text-blue-500}
	.text-scolcours-analyse {@apply text-amber-500}
	.text-scolcours-geometrie {@apply text-purple-500}
	.text-scolcours-statistiques {@apply text-cyan-500}
	.text-scolcours-jeux {@apply text-orange-500}
	.text-scolcours-tools {@apply text-pink-400}

	.border-scolcours-algebre {@apply border-blue-300}
	.border-scolcours-analyse {@apply border-amber-300}
	.border-scolcours-geometrie {@apply border-purple-300}
	.border-scolcours-statistiques {@apply border-cyan-300}
	.border-scolcours-jeux {@apply border-orange-300}
	.border-scolcours-tools {@apply border-pink-300}

	.active-scolcours-algebre {@apply px-5 py-4 hover:bg-blue-50 border-t border-b hover:border-blue-500 hover:text-blue-500 transition-colors duration-300}
	.active-scolcours-analyse {@apply px-5 py-4 hover:bg-amber-50 border-t border-b hover:border-amber-500 hover:text-amber-500 transition-colors duration-300}
	.active-scolcours-geometrie {@apply px-5 py-4 hover:bg-purple-50 border-t border-b hover:border-purple-500 hover:text-purple-500 transition-colors duration-300}
	.active-scolcours-statistiques {@apply px-5 py-4 hover:bg-cyan-50 border-t border-b hover:border-cyan-500 hover:text-cyan-500 transition-colors duration-300}
	.active-scolcours-jeux {@apply px-5 py-4 hover:bg-orange-50 border-t border-b hover:border-orange-500 hover:text-orange-500 transition-colors duration-300}
	.active-scolcours-tools {@apply px-5 py-4 hover:bg-pink-50 border-t border-b hover:border-pink-500 hover:text-pink-500 transition-colors duration-300}

	.md-danger {@apply bg-red-300}
	.md-success {@apply bg-green-300}

	.katex-boxed .katex-display {
		@apply bg-amber-700/5 px-5 py-4 my-2 rounded overflow-x-auto;
	}

	.katex-boxed.katex-boxed-lg .katex-display {
		@apply py-10;
	}

	.katex-inline-boxed span:not(.katex-display) > .katex {
		@apply bg-amber-700/5 px-3 inline-block align-middle max-w-full py-1 rounded;
	}

	.katex-left .katex-display > .katex > .katex-html {
		@apply text-left;
	}

	.katex-right .katex-display > .katex > .katex-html {
		@apply text-right;
	}

	.katex-m-0 .katex-display {
		margin-top: 0;
		margin-bottom: 0;
	}
	.katex-m-1 .katex-display {
		margin-top: 0.3em;
		margin-bottom: 0.3em;
	}

	.block-header {
		@apply py-3 mb-3 text-xl
	}
	.block-border-definition {
		@apply border-l-4 border-lime-400;
	}
	.block-border-definition .block-header {
		@apply bg-lime-50 text-lime-700
	}

	.block-border-theorem {
		@apply border-l-4 border-amber-600;
	}
	.block-border-theorem .block-header{
		@apply bg-amber-50 text-amber-700
	}

	.block-border-property {
		@apply border-l-4 border-purple-600;
	}
	.block-border-property .block-header{
		@apply bg-purple-50 text-purple-700
	}

	.block-border-remark {
		@apply border-l-4 border-pink-600;
	}
	.block-border-remark .block-header{
		@apply bg-pink-50 text-pink-700
	}

	.block-border-example {
		@apply border-0;
	}
	.block-border-example .block-header{
		@apply bg-gray-100 text-gray-800
	}

	.admin-wrapper{
		@apply flex justify-between gap-3 items-baseline bg-amber-100 rounded border border-dashed border-amber-600 px-3 py-2;
	}
	.admin-wrapper-row{
		@apply w-full flex justify-between gap-3 items-baseline;
	}

	.btn {
        @apply border px-5 py-2 rounded-lg
        hover:bg-gray-100 hover:shadow
        inline-block text-center
        disabled:cursor-not-allowed disabled:shadow-none
		transition-colors duration-300;
	}

	.btn-primary {
		@apply btn bg-blue-600 text-white hover:bg-blue-700;
	}

	.btn-success {
		@apply btn bg-green-600 text-white hover:bg-green-700;
	}

	.btn-add {
		@apply btn bg-teal-600 text-white hover:bg-teal-700;
	}

	.btn-new {
		@apply btn w-full h-full min-h-[100px] border-2 border-blue-600 border-dashed text-blue-900 bg-blue-100 hover:bg-blue-200;
	}
	.btn-new-inline {
		@apply btn border-2 border-blue-600 border-dashed text-blue-900 bg-blue-100 hover:bg-blue-200;
	}

	.btn-delete {
		@apply btn bg-red-600 text-white hover:bg-red-700;
	}

	.btn-update {
		@apply btn bg-orange-500 text-white hover:bg-orange-700;
	}

	.btn-cancel,.btn-error,.btn-warning {
		@apply btn bg-orange-600 text-white hover:bg-orange-700;
	}

	.btn-edit {
		@apply btn bg-cyan-600 text-white hover:bg-cyan-700;
	}

	.btn-xl {
		@apply border px-10 py-5 rounded-xl text-lg
	}

	.btn-xs {
		@apply !px-2 !py-1 text-sm
	}

	.btn-form {
		@apply uppercase font-semibold text-xs;
	}

	.btn-scolcours-algebre {@apply btn bg-blue-500 text-white hover:bg-blue-100 hover:border-blue-500 hover:text-blue-500 transition-colors duration-300}
	.btn-scolcours-analyse {@apply btn bg-amber-500 text-white hover:bg-amber-100 hover:border-amber-500 hover:text-amber-500 transition-colors duration-300}
	.btn-scolcours-geometrie {@apply btn bg-purple-500 text-white hover:bg-purple-100 hover:border-purple-500 hover:text-purple-500 transition-colors duration-300}
	.btn-scolcours-statistiques {@apply btn bg-cyan-500 text-white hover:bg-cyan-100 hover:border-cyan-500 hover:text-cyan-500 transition-colors duration-300}
	.btn-scolcours-jeux {@apply btn bg-orange-500 text-white hover:bg-orange-100 hover:border-orange-500 hover:text-orange-500 transition-colors duration-300}
	.btn-scolcours-tools {@apply btn bg-pink-400 text-white hover:bg-pink-100 hover:border-pink-500 hover:text-pink-500 transition-colors duration-300}

	.is-active{@apply bg-blue-100 border-blue-600}

	.list-space {
		@apply list-outside ml-3
	}

	.list-space > li {
		@apply pl-5
	}


	.tos .cell-v-line:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		border-left: 1px dashed #bbb;
		transform: translate(-50%);
		pointer-events: none;
	}

	.tos .cell-v-line-d:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		border-left: 1px double #e00c0c;
		transform: translate(-50%);
		pointer-events: none;
	}

	.tos .cell-v-line {
		position: relative;
	}


	dialog::backdrop {
		background: rgba(20, 20, 20, 0.2);
	}

	.block-flex {
		@apply flex flex-row flex-wrap gap-4 items-baseline list-none
	}
}

.column-toc{
	column-rule-style: solid;
	column-rule-color: #e8e8e8;
}

