/*Bootstrap icons font*/
@import 'bootstrap-icons/font/bootstrap-icons.css' layer(base);
@import 'katex/dist/katex.min.css' layer(base);
@import 'tailwindcss';

/* Custom imports */
@import "./scolcours/theme.css";
@import "./scolcours/background.css";
@import './scolcours/effects.css';
@import './scolcours/katexBase.css';
/*@import './scolcours/x_inputs.css.backup';*/
@import './scolcours/typo.css' layer(base);
@import './scolcours/tableossigns.css' layer(components);
@import '../js/Components/UI/Button/button.css';


/* safe list */
@source inline('{sm:,md:,lg:,xl:,}grid-cols-{{1..12}}');
@source inline('{sm:,md:,lg:,xl:,}col-span-{{1..6}}');


/* Plugins imports */
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar';
@custom-variant hover (&:hover);
@custom-variant dark (&:where(.dark, .dark *));

/*@config '../../tailwind.config.js';*/

@layer base {
	body {
		@apply bg-slate-100 dark:bg-slate-900
		text-slate-900 dark:text-slate-200
		border-slate-300 dark:border-slate-600
		font-light tracking-wide;
	}
}

.column-toc {
	column-rule-style: solid;
	column-rule-width: 1px;
	column-rule-color: #0f172b; /*slate-900*/
	@variant dark {
		column-rule-color: #f1f5f9; /*slate-100*/
	}
}

@utility border-content {
	@apply border-gray-200 dark:border-gray-500 divide-gray-200 dark:divide-gray-500;
}
@utility font-code {
	font-family: 'Source Code Pro', monospace;
}

@utility cancel-* {
	position: relative;
	display: inline-block;
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		right: 0;
		top: 50%;
		border-top-style: solid;
		border-top-width: thin;
		border-top-color: --value(--color-*);
		transform: skewY(-40deg);
		pointer-events: none;
	}
}

@utility def-* {
	background: color-mix(in oklch, --value(--color-*) 5%, transparent);
	color: --value(--color-*);
	/*bg-algebre/10 hover:bg-algebre/30 text-algebre*/
	@apply font-semibold mx-1 px-2 border rounded transition;
	&:hover {
		background: color-mix(in oklch, --value(--color-*) 20%, transparent);
	}
}

@utility list-inline {
	@apply flex flex-wrap gap-3 list-none
}
